@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900|Open+Sans:300,400|Oswald:400,700');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}
html {
    margin:    0 auto;
    max-width: 1200px;
}
.text-center {
    text-align: center;
    margin-bottom: 50px;
}

.project-counter{
    background: #fff;
    margin-top: 90px;
}

.project-counter ul {
    list-style-type: none;
    display: flex;
}

.project-counter li {
    width: 33.33%;
    height: 100%;
    padding: 30px 0px;
    text-align: center;
}
.project-counter li p.number {
    font-size: 40px;
    font-weight: bold;
    color: black;
    margin-top: 30px;
}

.project-counter li p {
    color: black;
    font-size: 18px;
    padding: 10px;
    font-family: 'Open Sans';
    font-weight: bold;
}

.project-counter li span {
    width: 60px;
    background: black;
    height: 2px;
    display: block;
    margin: 0 auto;
}

.project-counter li i {
    vertical-align: middle;
    font-size: 50px;
    color: palevioletred;
    border: 3px dotted palevioletred;
    padding: 30px;
}