/* .testimonials{
    margin: 20px;
} */
html {
    margin:    0 auto;
    max-width: 1312px;
}
.testimonials-says{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.testi-title{
    text-align: center;
    margin-top: 50px;
}
.testi-title p{
    margin: 50px 0 50px 0;
}
.testi-author{
    display: flex;
}
.testi-icon{
    text-align: center;
}
.testi-author img{
    width: 40px;
    height: 40px;
    margin-left: 40px;
    border-radius: 20px;
}
.author-title{
    margin-left: 20px;
    line-height: 7px;
}
.author-title h4{
    font-size: 15px;
    font-weight: bold;
}
.author-title small{
    font-size: 10px;
}
.istar{
    color: #EAA451;
}
@media screen and (max-width:600px){
    .testimonials-says{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .testi-div p{
        text-align: center;
    }
    .testi-author{
        margin: 0 0 40px 70px;
    }
    .testi-title p{
        text-align: center;
        margin-bottom: 50px;
        align-items: center;
    }
}
@media screen and (min-width:992px){
    .testimonials-says{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .testi-author{
        margin: 0 0 40px 110px;
    }
}
@media screen and (min-width:1200px){
    .testimonials-says{
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
}